<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/MainTemplate}">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <h1 class="mt-2">Dashboard</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Data Info
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr th:class="bg-light">
                        <th>S.N.</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
<!--                    <tr th:each="admin, iStat : ">-->
<!--                        <td th:text="${iStat.count}"></td>-->
<!--                        <td th:text="${admin.firstName}"></td>-->
<!--                        <td th:text="${admin.gender}"></td>-->
<!--                        <td th:text="${admin.email}"></td>-->
<!--                        <td th:text="${admin.phone}"></td>-->
<!--                        <td th:text="${admin.address}"></td>-->
<!--                        <td th:text="Action"></td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>