<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">SB Demo</title>
        <link th:href="@{/adminTemplate/dist/css/styles.css}" rel="stylesheet"/>
        <link th:href="@{/adminTemplate/toast/css/notify.css}" rel="stylesheet"/>
        <link th:href="@{/css/customStyle.css}" rel="stylesheet"/>
        <link th:href="@{https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css}" rel="stylesheet" crossorigin="anonymous"/>
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js}" crossorigin="anonymous"></script>


        <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav layout:replace="~{layout/header::header}" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!--    header will be here-->
        </nav>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav layout:replace="~{layout/menu::menu}" class="sb-sidenav accordion sb-sidenav-dark"
                     id="sidenavAccordion">
                    <!--            naviagetion menu will be here-->
                </nav>
            </div>

            <div id="layoutSidenav_content">
                <main>
                    <div layout:fragment="content" class="container-fluid">
                        <!--                main page content will be here-->
                    </div>
                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div layout:replace="~{layout/footer::footer}" class="container-fluid">
                        <!--                footer will be here-->
                    </div>
                </footer>
            </div>
        </div>
        <script th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/adminTemplate/dist/js/scripts.js}"></script>
        <script th:src="@{/adminTemplate/toast/js/notify.js}"></script>
        <script th:src="@{https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/adminTemplate/dist/assets/demo/datatables-demo.js}"></script>
        <script>var messageType = "[[${messageType}]]"; var messageTitle = "[[${messageTitle}]]"; var messageDetail = "[[${messageDetail}]]";</script>
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>
