<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<nav layout:fragment="menu" class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu small">
        <div class="nav">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#administration"
               aria-expanded="false" aria-controls="administration">
                <div class="sb-nav-link-icon"><i class="fas fa-school"></i></div>
                Administration
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="administration" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionAdministration">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse"
                       data-target="#administrationCollapseAuth" aria-expanded="false"
                       aria-controls="administrationCollapseAuth">
                        <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                        Organization Setup
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="administrationCollapseAuth" aria-labelledby="headingOne"
                         data-parent="#sidenavAccordionAdministration">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/material/page}">Material</a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Spring Boot
    </div>
</nav>
</html>