/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 5, 2020, 8:11:16 AM
    Author     : roshan
*/
.error {
    font-size: 0.8rem;
    color: red !important;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
}

table {
    table-layout: auto !important;
    font-size: 0.8rem !important;
}

th{
    background-color: #f7f7f7;
}

.bg-img-office {
    background-image: url(../images/office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-control {
    font-size: 0.8rem !important;
}

.page {
    cursor: pointer;
    margin: 0.1rem;
    font-size: 0.7rem;
    color: #000000;
}

.nav-link {
    padding: 0.25rem 0.75rem !important;
}

.modal-dialog {
    max-width: 900px;
    min-height: 50vh;
}

textarea{
    min-height: 5rem;
}

.modal-open .modal::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}