<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Spring Boot Demo</title>
    <link th:href="@{/adminTemplate/dist/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/adminTemplate/toast/css/notify.css}" rel="stylesheet"/>
    <link th:href="@{/css/customStyle.css}" rel="stylesheet"/>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js}" crossorigin="anonymous"></script>
</head>

<body class="bg-img-office">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg my-5">
                            <div class="card-header text-center py-2 bg-primary">
                                <h3 class="text-center font-weight-bold text-white">Login</h3>
                            </div>
                            <div class="card-body">
                                <form th:action="@{login}" method="post">
                                    <div class="form-group">
                                        <label class="small mb-1" for="username">Username</label>
                                        <input class="form-control" id="username" name="username" type="text" placeholder="Enter Username"/>
<!--                                        <small class="error" th:if="${#fields.hasErrors('username')}" th:text="${#fields.errors('username').get(0)}">Invalid Username</small>-->
                                    </div>
                                    <div class="form-group">
                                        <label class="small mb-1" for="password">Password</label>
                                        <input class="form-control" id="password" name="password" type="password" placeholder="Enter password"/>
<!--                                        <small class="error" th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password').get(0)}">Invalid Passwords</small>-->
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <a class="small" href="https://gitlab.com/rongaru/spring-boot">View source code</a>
                                        <input class="btn btn-primary" type="submit" value="Login"></input>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Modal -->
    <div id="createEditPanel" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: 500px;">
            <div class="modal-content p-4">
                <b>Notes :</b>
                <ol class="small">
                    <li>Please use username = "user" and password = "user" for successful login.</li>
                    <li>All datas in this application are system generated.</li>
                    <li>When application get restarted all modification are cleared.</li>
                    <li>All modified data item will placed at end of the list.</li>
                    <li>Check last item to verify modification.</li>
                    <li>You can view the source code of this application by click on the "view source code" in login page or <a href="https://gitlab.com/rongaru/spring-boot">https://gitlab.com/rongaru/spring-boot</a></li>
                </ol>
                <button id="btnCancel" th:type="button" th:text="Ok" class="btn btn-sm btn-success col-md-2"/>
            </div>
        </div>
    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.5.1.min.js}" crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/adminTemplate/dist/js/scripts.js}"></script>
<script th:src="@{/adminTemplate/toast/js/notify.js}"></script>
<script>var messageType = "[[${messageType}]]"; var messageTitle = "[[${messageTitle}]]"; var messageDetail = "[[${messageDetail}]]";</script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>