<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <title>Fiscal Year</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid">
    <div class="card my-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Fiscal Year
            <a th:href="@{/material/create}">
                <button class="btn btn-sm btn-primary float-right" th:text="Create"/>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>S.N.</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="materialDto, iStat : ${materialDtoPage.content}">
                        <td th:text="${materialDtoPage.number * materialDtoPage.size + iStat.count}"></td>
                        <td th:text="${materialDto.name}"></td>
                        <td th:text="${materialDto.description}"></td>
                        <td>
                            <a th:href="@{/material/{id}/edit(id=${materialDto.id})}">
                                <img th:src="@{/images/edit.png}" th:title="Edit">
                            </a>
                            <a th:href="@{/material/{id}/delete(id=${materialDto.id})}" onclick="return confirm('Are you sure?');">
                                <img th:src="@{/images/delete.png}" th:title="Delete">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer" th:if="${materialDtoPage.totalPages > 0}">
            <pagination url="/fiscal-year/page" th:active="${materialDtoPage.number}" th:size="${materialDtoPage.size}" th:total="${materialDtoPage.totalPages}"></pagination>
        </div>
    </div>

    <!-- Modal -->
    <div th:if="${showCreateEditPanel}" id="createEditPanel" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form th:action="@{/material/save}" th:object="${materialDto}" method="post">
                    <div class="card small">
                        <div class="card-header font-weight-bold">
                            Create/Edit Fiscal Year
                        </div>
                        <div class="card-body">
                                <div class="form-group">
                                    <label for="itName">Name</label>
                                    <input type="text" class="form-control" id="itName" placeholder="Enter Name" th:field="*{name}">
                                    <span th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name').get(0)}" class="error">Name Error</span>
                                </div>
                                <div class="form-group">
                                    <label for="itName">Description</label>
                                    <textarea class="form-control" id="itDescription" placeholder="Enter Description" th:field="*{description}"/>
                                    <span th:if="${#fields.hasErrors('description')}" th:text="${#fields.errors('description').get(0)}" class="error">Description Error</span>
                                </div>
                                <input type="hidden" id="hiddenId" th:field="*{id}">
                        </div>
                        <div class="card-footer">
                            <button id="btnSubmit" th:type="submit" th:text="Save" class="btn btn-primary"/>
                            <button id="btnCancel" th:type="button" th:text="Cancel" class="btn btn-danger ml-2"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
